body{
    background: linear-gradient(skyblue, lightgreen);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#login{
    position: relative;
    width: 500px;
    padding: 30px;
    top: 220px;
    left: 580px;
    font-size: 32pt;
    border-style: outset;
    border-width: 5px;
    border-color: gold;
    border-radius: 10px;
}

#loginbutton{

    font-size: 16pt;
}


#errormessage{
    color: red;
    text-decoration: underline;
    font-weight: bold;
    font-size: 34pt;
}